<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>hello world</h1>
    <hr />
    <table border="1">
        <thead>
            <tr>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>222</td>
                <td>222</td>
                <td>222</td>
            </tr>
            <tr>
                <td>222</td>
                <td>222</td>
                <td>222</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <p><input type="text" /></p>
    <p><input type="password" /></p>
    <p><input type="file" /></p>
    <input type="radio" name="1" />
    <p><input type="radio" name="1" /></p>

    <input type="checkbox">
    <input type="checkbox">
    <input type="button" value="提交">
    <input type="submit" value="提交1">

    <hr/>
    <h3>下拉框</h3>
    <select>
        <option>唱</option>
        <option>跳</option>
        <option>rap</option>
    </select>
    <h3>多选</h3>
    <select multiple>
        <option>唱</option>
        <option>跳</option>
        <option>rap</option>
    </select>

    <h3>多行文本框</h3>
    <textarea name="" id="" cols="30" rows="10"></textarea>
</body>

</html>